<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.baseball.dom.model.dao.DomMapper">

	<sql id="domColumn">
		SELECT
			   DOM_NO AS domNo,
			   DOM_NAME AS domName,
			   DOM_CONTENT AS domContent,
			   DOM_ADDR AS domAddr,
			   (FILE_PATH || '/' || CHANGE_NAME) AS imagePath
	</sql>
	
	<sql id="domAttachmentColumn" >
		SELECT
			   DOM_ATTACHMENT_NO domAttachmentNo,
			   REF_DNO refDno,
			   ORIGIN_NAME originName,
			   CREATE_DATE createDate,
			   TB_DOM_ATTACHMENT.STATUS status
	</sql>

	<select id="selectTotalCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_DOM
		 WHERE
		 	   STATUS = 'Y'
	</select>
	
	<select id="selectDomList" resultType="dom">
		<include refid="domColumn" />
		  FROM
		  	   TB_DOM
		  JOIN
		  	   TB_DOM_ATTACHMENT ON (DOM_NO = REF_DNO)
		 WHERE
		 	   TB_DOM.STATUS = 'Y'
		   AND
		   	   TB_DOM_ATTACHMENT.STATUS = 'Y'
		 ORDER
		 	BY
		       DOM_NO DESC
	</select>
	
	<select id="selectId" resultType="dom" parameterType="long">
		<include refid="domColumn" />
		  FROM
		  	   TB_DOM
		  JOIN
		  	   TB_DOM_ATTACHMENT ON (DOM_NO = REF_DNO)
		 WHERE
		 	   TB_DOM.STATUS = 'Y'
		   AND
		   	   TB_DOM_ATTACHMENT.STATUS = 'Y'
		   AND
		   	   DOM_NO = #{domNo}
	</select>
	
	<select id="selectAttachmentList" resultType="com.kh.baseball.dom.model.vo.DomAttachment">
		<include refid="domAttachmentColumn" />
		  FROM
		  	   TB_DOM_ATTACHMENT
		  JOIN
		  	   TB_DOM ON (REF_DNO = DOM_NO)
		 WHERE
		 	   TB_DOM_ATTACHMENT.STATUS = 'Y'
	</select>
 
	<insert id="insertDom" parameterType="dom">
		INSERT 
		  INTO 
		  	   TB_DOM 
		  	   (
		  	   DOM_NO, 
		  	   DOM_NAME, 
		  	   DOM_CONTENT, 
		  	   DOM_ADDR
		  	   )
		VALUES 
			   (
			   SEQ_DOM_NO.NEXTVAL,
			   #{domName},
			   #{domContent},
			   #{domAddr}
			   )
	</insert>
	
	<insert id="insertDomFile" parameterType="com.kh.baseball.dom.model.vo.DomAttachment">
		INSERT
		  INTO
		  	   TB_DOM_ATTACHMENT
		  	   (
		  	   DOM_ATTACHMENT_NO,
		  	   REF_DNO,
		  	   ORIGIN_NAME,
		  	   CHANGE_NAME,
		  	   FILE_PATH
		  	   )
		VALUES
		  	   (
		  	   SEQ_DOM_ATTACHMENT_NO.NEXTVAL,
		  	   SEQ_DOM_NO.CURRVAL,
		  	   #{originName},
		  	   #{changeName},
		  	   #{filePath}
		  	   )
	</insert>
	

</mapper>