<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.baseball.goods.model.dao.GoodsMapper">

	
	
	
	
	
	<select id="selectTotalCount" resultType="_int">
		SELECT 
		       COUNT(*) 
		  FROM 
		       TB_GOODS_ENROLL 
		 WHERE 
		 	   STATUS = 'Y'
	</select>
	
	
	<select id="selectGoodsList" resultType="goods">
		SELECT
		       USER_NO userNo,
		       USER_NAME userName,
		       NICKNAME nickname,
		       PHONE phone,
		       
		       GOODS_NO goodsNo,
		       GOODS_NAME goodsName,
		       GOODS_PRICE goodsPrice,
		       GOODS_COUNT goodsCount,
		       TO_CHAR(START_DATE, 'YYYY-MM-DD') AS startDate,
		       TO_CHAR(END_DATE, 'YYYY-MM-DD') AS endDate,
		       DESCRIPTION description,
		       
		       ORIGIN_NAME originName,
		       CHANGE_NAME changeName
		       <!-- 
		       GOODS_ATTACHMENT_NO,
		       GOODS_FILE_PATH,
		       GOODS_UPLOAD_DATE  -->
		  FROM
		       TB_USER
		  JOIN
		       TB_GOODS_ENROLL USING (USER_NO)
		 WHERE
		       TB_GOODS_ENROLL.STATUS = 'Y'
		 ORDER
		    BY
		       GOODS_NO DESC
	</select>

	<select id="selectGoodsByNo" parameterType="long" resultType="goods">
		SELECT
		       USER_NO userNo,
		       USER_NAME userName,
		       NICKNAME nickname,
		       PHONE phone,
		       
		       GOODS_NO goodsNo,
		       GOODS_NAME goodsName,
		       GOODS_PRICE goodsPrice,
		       GOODS_COUNT goodsCount,
		       TO_CHAR(START_DATE, 'YYYY-MM-DD') AS startDate,
		       TO_CHAR(END_DATE, 'YYYY-MM-DD') AS endDate,
		       DESCRIPTION description,
		       
		       ORIGIN_NAME originName,
		       CHANGE_NAME changeName
		  FROM
		       TB_USER
		  JOIN
		       TB_GOODS_ENROLL USING (USER_NO)
		 WHERE
		       TB_GOODS_ENROLL.STATUS = 'Y'
		   AND
		   	   GOODS_no = #{ goodsNo }
	</select>

	<insert id="insertGoods" parameterType="goods">
		INSERT
		  INTO
		       TB_GOODS_ENROLL
		       (
		       GOODS_NO,
		       GOODS_NAME,
		       GOODS_PRICE,
		       GOODS_COUNT,
		       <!-- 
		       START_DATE,
		       END_DATE,
		        -->
		       ORIGIN_NAME,
		       CHANGE_NAME,
		       DESCRIPTION,
		       USER_NO,
		       STATUS
		       )
		VALUES
		       (
		       SEQ_GOODS_NO.NEXTVAL,
		       #{goodsName},
		       #{goodsPrice},
		       #{goodsCount},
		       <!-- TO_DATE(#{startDate}) -->
		       <!-- TO_DATE(#{endDate}) -->
		       #{originName},
		       #{changeName},
		       #{description},
		       #{userNo},
		       'Y'
		       )
	</insert>

	



</mapper>