<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.baseball.player.model.dao.PlayerMapper">

	<insert id="savePlayer" parameterType="player">
	INSERT 
	  INTO 
	        TB_PLAYER
	        (
	        USER_NO,
	        GRADE,
	        PLAYER_POSITION,
	        PLAYER_DATE,
	        PLAYER_INTRO,
	        PLAYER_SALARY,
	        PLAYER_NO,
	        PLAYER_STATUS,
	        PLAYER_TEAM
	        ) 
	VALUES
	        (
	        2,
	        #{grade},
	        #{playerPosition},
	        SYSDATE,
	        #{playerIntro},
	        #{playerSalary},
	        27,
	        'N',
	        'N'
	        )
	</insert>
	



</mapper>