<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.baseball.player.model.dao.PlayerMapper">

	<insert id="savePlayer" parameterType="player">
	INSERT 
	  INTO 
	        TB_PLAYER
	        (
	        USER_NO,
	        GRADE,
	        PLAYER_POSITION,
	        PLAYER_DATE,
	        PLAYER_INTRO,
	        PLAYER_SALARY,
	        PLAYER_NO,
	        PLAYER_STATUS,
	        PLAYER_TEAM
	        ) 
	VALUES
	        (
	        2,
	        #{grade},
	        #{playerPosition},
	        SYSDATE,
	        #{playerIntro},
	        #{playerSalary},
	        27,
	        'N',
	        'N'
	        )
	</insert>
	
	<select id="getTotalCount" resultType="_int">
		SELECT
				COUNT(*)
		 FROM	
		 		PLAYER
		WHERE
				PLAYER_STATUS = 'Y'
	</select>
	
	<!-- 가나다순으로 보기 -->
	<select id="findAllPlayerKorean" resultType="player">
		SELECT
				USER_NO userNo,
		        GRADE grade,
		        PLAYER_POSITION playerPosition,
		        PLAYER_NO playerNo,
		        PLAYER_STATUS playerStatus,
		        PLAYER_TEAM playerTeam,
		  FROM
		  		PLAYER
		 WHERE
		 		PLAYER_TEAM = #{playerTeam}
		   AND
		 		PLAYER_STATUS = 'Y'
		  JOIN
		  		
		 ORDER
		 	BY
		 		USER_NAME ASC
	</select>
	
	
	<!-- 조회수 순으로 보기 -->
	<select id="findAllPlayerCount" resultType="player">
		SELECT
				USER_NO userNo,
		        GRADE grade,
		        PLAYER_POSITION playerPosition,
		        PLAYER_NO playerNo,
		        PLAYER_STATUS playerStatus,
		        PLAYER_TEAM playerTeam,
		        TEAM_NAME teamName
		  FROM
		  		PLAYER
		 WHERE
		 		PLAYER_TEAM = #{playerTeam}
		   AND
		 		PLAYER_STATUS = 'Y'
		  JOIN
		  		
		 ORDER
		 	BY
		 		COUNT ASC
	</select>
	
	<select id="findPlayerDetail" resultType="player">
		
	</select>



</mapper>