<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.baseball.dom.model.vo.Dom" alias="dom"/>
		<typeAlias type="com.kh.baseball.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.baseball.freeboard.model.vo.Freeboard" alias="freeboard"/>
		<typeAlias type="com.kh.baseball.player.model.vo.Player" alias="player"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/dom-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/freeboard-mapper.xml" />
		<mapper resource="/mapper/player-mapper.xml" />
	</mappers>


</configuration>