<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.baseball.dom.model.vo.Dom" alias="dom"/>
		<typeAlias type="com.kh.baseball.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.baseball.freeboard.model.vo.FreeBoard" alias="freeBoard"/>
		<typeAlias type="com.kh.baseball.freeboard.model.vo.FreeBoardFile" alias="freeBoardFile"/>
		<typeAlias type="com.kh.baseball.freeboard.model.vo.FreeBoardReply" alias="freeBoardReply"/>
		<typeAlias type="com.kh.baseball.small.model.vo.SmallBoard" alias="smallBoard"/>
		<typeAlias type="com.kh.baseball.small.model.vo.SmallBoardUpfile" alias="smallBoardUpfile"/>
		<typeAlias type="com.kh.baseball.small.model.vo.SmallBoardReply" alias="smallBoardReply"/>
		<typeAlias type="com.kh.baseball.small.model.vo.SmallBoardList" alias="smallBoardList"/>
		<typeAlias type="com.kh.baseball.player.model.vo.Player" alias="player"/>
		<typeAlias type="com.kh.baseball.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.baseball.match.model.vo.Match" alias="match"/>
		<typeAlias type="com.kh.baseball.goods.model.vo.Goods" alias="goods"/>
		<typeAlias type="com.kh.baseball.question.model.vo.Question" alias="question"/>
		<typeAlias type="com.kh.baseball.foodtruck.model.vo.FoodTruck" alias="foodTruck"/>
		<typeAlias type="com.kh.baseball.foodtruck.model.vo.FoodTruckFile" alias="foodTruckFile"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/dom-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/freeboard-mapper.xml" />
		<mapper resource="/mapper/player-mapper.xml" />
		<mapper resource="/mapper/notice-mapper.xml" />
		<mapper resource="/mapper/smallBoard-mapper.xml"/>
		<mapper resource="/mapper/match-mapper.xml" />
		<mapper resource="/mapper/goods-mapper.xml" />
		<mapper resource="/mapper/question-mapper.xml" />
		<mapper resource="/mapper/foodtruck-mapper.xml"/>
	</mappers>


</configuration>